@font-face {
  font-family: "GT Super Text";
  src: url("GT-Super-Text-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Americana";
  src: url("AmericanaBT-ExtraBoldCondensed.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

h1 {
  font-family: "Americana", serif;
}

p {
  font-family: "GT Super Text", serif;
}

video {
  object-fit: cover;
}
